---
---

$primary-color: #00A79D;

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    background-color: inherit;
    color: inherit !important;
}

.content a {
    color: $primary-color !important;
}
.timeline-icon {
    background-color: $primary-color !important;
}
.nav-item.active {
    border-left: 2px solid $primary-color;
}

#top-nav {
    background-color:#fff;
    width:100%;
    opacity:1;
    z-index:100;
    top:0;
    padding-top:10px;
}

#side-nav {
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: calc(100% - 20px) !important;
    a:hover {
        color: $primary-color;
    }
}